.row {
  max-width: 114rem; // The standard is that we use 1140px,but we are playing with remalive mesures so we use rem. Remember 1rem = 10 px for us
  background-color: #eeeeee8e;
  margin: 0 auto;
  margin-bottom: 80px;
}
